.root {
    -fx-font-family: "Chalkboard";
    -fx-background-color: lightblue;
}

.button {
    -fx-font-family: "Chalkboard";
    -fx-font-size: 1.0em;
    -fx-background-radius: 1em;
    -fx-text-fill: "rgb(255,255,255)";
    -fx-background-color: "rgb(160, 50, 50)";
}

.grid {
    -fx-background-color: darkgray;
}

.label {
    -fx-font-family: "Copperplate";
    -fx-font-size: 15pt;
    -fx-text-fill: "rgb(255,255,255)";
    -fx-background-color: "rgb(160, 50, 50)";
    -fx-alignment: CENTER;
}

.list-view {
    -fx-background-color: lightgray;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0.0%, #207BCF 25.0%, #1973C9 75.0%, #0A65BF 100.0%);
    -fx-text-fill: white;
}

.list-cell{
    -fx-font-size:15.0;
    -fx-font-family: "Chalkboard";
    -fx-background-color: "rgb(255,253,208)";
}

.list-cell:even { /* <=== changed to even */

}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

.table-view {
    -fx-font-family: Impact;
}